.navbar {
  overflow: hidden;
  z-index: 5;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 40px;
}

/* Links inside the navbar */
.navbar li {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    position: relative;
    background-color: lightslategrey;
    color: white;
  }

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.hero {
  position: static;
  height: 550px;
  padding: 20px;
  margin: 0;
  background: black;
  background-image: url("../images/oilrig.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}

.hero h1 {
  margin-top: 200px;
  animation: title 1.2s forwards linear;
}

.hero h2 {
  opacity: 0;
  animation: subtitle 1.2s forwards linear;
  animation-delay: 1.2s;
}
.image{
  display: block;
  margin-left: auto;
  z-index: 3;
  margin-right: auto;
  width: 80%;
  padding: 50px;
}

ul{
  font-size: 30px;
}
.wordcloud{
  display: block;
  margin-left: auto;
  z-index: 3;
  margin-right: auto;
  width: 80%;
  padding: 100px;
}
.list{
  /* padding: 200px; */
  float: right;
  width: 80%;
}
.companylist{
  padding: 100px; 
}
.textlist{
  padding: 200px;
  width: 100%;
}
.img{
  float: left;
}
