<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Companies</title>
  <!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css"> -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
  <div class="wrapper">
  <div id="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="index.html">Effect of SEC Reporting Sentiment Analysis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
          aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="companies.html">Companies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="textAnalysis.html">Text Analysis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="conclusion.html">Conclusion</a>
            </li>
      </div>
    </nav>
    </div>
    <div class="hero text-center">
      <h1>Company Selection Process</h1>
    </div>
    </div>
<div class='container'>    
<div class='tableauPlaceholder' id='viz1557796546655' style='position: relative'>
<noscript>
<a href='#'>
<img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Oi&#47;OilStocks-new&#47;Dashboard2&#47;1_rss.png' style='border: none' />
</a>
</noscript>
<object class='tableauViz'  style='display:none;'>
<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
<param name='embed_code_version' value='3' /> <param name='site_root' value='' />
<param name='name' value='OilStocks-new&#47;Dashboard2' />
<param name='tabs' value='no' />
<param name='toolbar' value='yes' />
<param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Oi&#47;OilStocks-new&#47;Dashboard2&#47;1.png' /> 
<param name='animate_transition' value='yes' />
<param name='display_static_image' value='yes' />
<param name='display_spinner' value='yes' />
<param name='display_overlay' value='yes' />
<param name='display_count' value='yes' />
</object>
</div>                
<script type='text/javascript'>                    
var divElement = document.getElementById('viz1557796546655');                    
var vizElement = divElement.getElementsByTagName('object')[0];                    
vizElement.style.minWidth='420px';vizElement.style.maxWidth='1050px';vizElement.style.width='100%';vizElement.style.minHeight='487px';vizElement.style.maxHeight='587px';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    
var scriptElement = document.createElement('script');                    
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
vizElement.parentNode.insertBefore(scriptElement, vizElement);                
</script>
<ul>
<li>Started with a list of 40 mid-cap to large-cap oil stocks.</li>
<li>We analyzed these stocks from 2014 to 2018. We tracked the closing 
price of these stocks and picked the top 3 middle 4 and bottom 3 stocks in growth.</li>
<li>We added one more stock that stayed flat in the 4 years of analysis.</li>

</ul>
</div>

<script src="static/js/app.js"></script>
</body>

</html>