<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Future Considerations</title>
  <!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css"> -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
<div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Effect of SEC Reporting Sentiment Analysis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="companies.html">Companies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="textAnalysis.html">Methodology</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="conclusion.html">Conclusion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="future.html">Future Improvements</a>
            </li>
        </div>
        </nav>
    <div class="hero text-center">
        <h1>Future Considerations</h1>
        </div>
    <div class="textlist">
        <div class="img">
            <img src="../static/images/Icon1.png" alt="Icon1" height="100" width="100">
        </div>
    <div class="list">
        <h1>Company Selection</h1>
    <ul>
        <li>Index company stocks to a common starting point based on Oil & Gas index funds</li>        
    </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="img">
        <img src="../static/images/Icon1.png" alt="Icon1" height="100" width="100">
    </div>
    <div class="list">
        <h1>Data Selection</h1>
    <ul>
        <li>Include 8Ks, earnings calls transcripts, quarterly earnings reports</li>
        <li>Limit to Management’s Discussion & Analysis text</li>           
    </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="img">
        <img src="../static/images/Icon3.png" alt="Icon3" height="100" width="100">
    </div>
    <div class="list">
        <h1>Visualization</h1>
    <ul>  
        <li>Corpus of words needs to be further tuned and limited</li>        
    </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <div class="img">
            <img src="../static/images/Icon4.png" alt="Icon4" height="100" width="100">
        </div>
    <div class="list">
        <h1>Model Selection</h1>
    <ul>
        <li>Topics honing for the PCA / LDA analysis</li>       
    </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="img">
        <img src="../static/images/Icon5.png" alt="Icon5" height="100" width="100">
    </div>
    <div class="list">
        <h1>Model Timing</h1>
    <ul>
        <li>3-month model should be compared against upcoming quarterly number, rather than prior quarter stock change</li>       
    </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <div class="img">
            <img src="../static/images/Icon6.png" alt="Icon6" height="100" width="100">
        </div>
    <div class="list">
        <h1>Sentiment Analysis</h1>
    <ul>
        <li>Compare against Financial Terms weighted dictionary</li>       
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>    
    </div>
    </div>
</div>


</body>

</html>